name: Tests

on:
  push:
    branches:
     - master
  pull_request_target:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: DevExpress/testcafe-build-system/actions/prepare@main
      
      - uses: DevExpress/testcafe-build-system/actions/build@main
      
     
  test:
    strategy: 
      fail-fast: false
      matrix:
        node-version: [14, 18]
    runs-on: ubuntu-latest
    needs: [build]
    environment: CI
    steps:
      - uses: DevExpress/testcafe-build-system/actions/prepare@main
        with:
          node-version: ${{ matrix.node-version }}
      
      - uses: DevExpress/testcafe-build-system/actions/test-npm@main
